# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
spotify-heardle

# Test binary
*.test

# Output
*.out

# Go workspace file
go.work

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
